<div class="container">
  <!-- Current stage -->
  <div class="uk-block">
    <h3>Current Stage</h3>
    <h4>Stage #: <%= _stage %>: <%= STAGE[_stage] %></h4>

    <div class="row">
      
      <% if (_stage > 0) {%>
        <div class="col">
          <form class="" action="/admin/stage" method="post">
            <input type="hidden" name="stage" value="<%= _stage - 1%>">
            <button class="btn btn-lg btn-primary" type="submit">
              <i class="material-icons left">skip_previous</i>
              Prev
            </button>
          </form>
        </div>
      <% } %>
      
      <% if (_stage < STAGE.length - 1) {%>
        <div class="col">
          <form class="" action="/admin/stage" method="post">
            <input type="hidden" name="stage" value="<%= _stage + 1%>">
            <button class="btn btn-lg btn-primary" type="submit">
              Next
              <i class="material-icons right">skip_next</i>
            </button>
          </form>
        </div>
      <% } %>
    </div>
  </div>

  <!-- Description of the stages -->
  <div class="uk-block">
    <h3>Stages</h3>
    <div class="">
      <table>
        <th>
          #
        </th>
        <th>
          Stage
        </th>
        <th>
          Description
        </th>
        <% for(var i=0; i<STAGE.length; i++) {%>
          <tr>
            <td>
              <%= i %>
            </td>
            <td>
              <%= STAGE[i] %>
            </td>
            <td>
              <%= STAGE_DESCRIPTION[STAGE[i]] %>
            </td>
          </tr>
        <% } %>
      </table>
    </div>
  </div>

</div>
