extends ./layout.jade

block content
  div(class='container row')
    div(class='container-fluid')
      table(class='table table-striped')
        tr
          th #
          th title
          th blurb
          td success_metrics
          td rating
          td select
          each val in ideas
            tr
              td= val._id
              td= val.title
              td= val.blurb
              td= val.success_metrics
              td= val.rating
              td
                form(name='rate-idea', method='post')
                  input(type='hidden', name='_id', value='#{val._id}')
                  if(val.selected)
                    button(type="submit" class="btn btn-selected" disabled="disabled") Selected
                  else
                    button(type="submit" class="btn btn-default") Select
