extends ./layout.jade

block content
  div(class='container row')
    div(class='container-fluid')
      table(class='table table-striped')
        tr
          th #
          th label
          th tool
          td description
          td rating
          td select
          each val in methods
            tr
              td= val._id
              td= val.label
              td= val.tool
              td= val.description
              td= val.rating
              td
                form(name='rate-method', method='post')
                  input(type='hidden', name='_id', value='#{val._id}')
                  if(val.selected)
                    button(type="submit" class="btn btn-selected" disabled="disabled") Selected
                  else
                    button(type="submit" class="btn btn-default") Select
