extends ./layout.jade

block content
  div(class='container row')
    div(class='container-fluid')
      table(class='table table-striped')
        tr
          th #
          th title
          th date
          td description
          td rating
          each val in milestones
            tr
              td= val._id
              td= val.title
              td= val.date
              td= val.description
              td
                form(name='rate-milestone', method='post')
                  label Rating
                  input(type='hidden', name='_id', value='#{val._id}')
                  input(type='number', name='rating', placeholder='#{val.rating}')
                  button(type="submit" class="btn btn-default") Submit
